:root {
  --main-color: #0b2781;
  --color: #ffff;
}
@media (max-width: 576px) {
}

body {
  display: block;
  margin: 0 auto;
  background: #0b2781;

  text-align: center;
}
.navbar-brand img {
  height: 50px;
  width: auto;
}

h1,
h2,
h5 {
  display: flex;
  justify-content: center;
}
.homePage {
  font-size: 80px;
  color: var(--main-color);
}
h2 {
  color: white;
  font-size: 80px;
  font-weight: 400;
}
h5 {
  color: white;
  font-size: 20px;
  margin-top: 100px;
}
.contact {
  background-image: url("../image/keyboard.jpg");
  background-size: cover;
}
.form {
  display: block;
  margin: 0 auto;
}
@media (max-width: 575px) {
  h1,
  h2 {
    font-size: 45px;
  }
}
.projects {
  text-align: center;
  color: var(--main-color);
  font-size: 80px;
}
