:root {
  --main-color: #0b2781;
  --color: #ffff;
}
@media (max-width: 576px) {
  img {
    max-width: 100%;
    height: auto;
  }
  h1 {
    text-align: center;
    font-size: 18px;
  }
}

#home {
  display: block;
  margin: 0 auto;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
.navbar-brand img {
  height: 50px;
  width: auto;
}

.name,
.career,
.intro {
  text-align: center;
  margin-left: 30px;
}
.name {
  font-size: 60px;
  color: white;
}
.career {
  color: white;
  font-size: 80px;
  font-weight: 400;
}
.intro {
  color: white;
  font-size: 20px;
  margin-top: 200px;
}
.contact {
  background: rgb(247, 200, 208);
  text-align: center;
  margin-top: 40px;
}
form {
  display: block;
  margin-top: 100px;
  text-align: center;
}
.connect {
  font-size: 80px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}

.projects {
  text-align: center;
  color: var(--main-color);
  font-size: 80px;
}
#name {
  display: inline-block;
}
#message {
  display: inline-block;
  margin-top: 15px;
  margin-left: 12%;
}
.mTitle {
  margin-left: -10%;
}

.icon {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}
footer {
  text-align: center;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 100px;
}
.aboutTitle {
  text-align: center;
  margin-top: 20px;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.aboutPage {
  background: #add1f5;
}
.workPage {
  background-color: #8ec5fc;
  display: block;
  margin: 0 auto;
  text-align: center;
  
}
