:root {
  --main-color: #0b2781;
  --color: #ffff;
}
@media (max-width: 576px) {
  img {
    max-width: 100%;
    height: auto;
  }
  h1 {
    text-align: center;
    font-size: 18px;
  }
}

#home {
  display: block;
  margin: 0 auto;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
.navbar-brand img {
  height: 50px;
  width: auto;
}

.name,
.career,
.intro {
  text-align: center;
  margin-left: 30px;
}
.name {
  font-size: 60px;
  color: white;
}
.career {
  color: white;
  font-size: 70px;
  font-weight: 400;
}
.intro {
  color: white;
  font-size: 20px;
  margin-top: 100px;
}
.contact {
  background: rgb(247, 200, 208);
  text-align: center;
  margin-top: 0 auto;
}
form {
  display: block;
  margin-top: 100px;
  text-align: center;
}
.connect {
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  margin-bottom: 20px;
}

#projects {
  text-align: center;
  color: white;
  font-size: 70px;
  padding-bottom: 50px;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#name {
  display: inline-block;
}
#message {
  display: inline-block;
  margin-top: 15px;
  margin-left: 12%;
}
.mTitle {
  margin-left: -170px;
}

.icon {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}
footer {
  text-align: center;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 100px;
}
.aboutTitle {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.aboutPage {
  background: #add1f5;
}
.workPage {
  background-color: #8ec5fc;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
button {
  background-color: #e0c3fc;
  color: white;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
  border: 4px solid #8ec5fc;
  box-shadow: 5px 5px 5px gainsboro;
  padding: 10px auto;
}
button:hover {
  cursor: pointer;
  background-color: var(--main-color);
  color: white;
}
.form {
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px 5px 20px 5px;
  margin: 50px auto;
  width: 50%;
  height: 80%;
}
